
html {
    background-color:black;
}
/*body {
    color: white;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}*/

.paintingImage {
    margin-left:25%;
    margin-top:8%;
    padding-bottom: 2%;
}

.paintingImage img {
    border: 1px solid grey;
}
.paintingDetails {
    width:25%;
    margin-left:38%;
    border-top:1px solid white;
    text-align: center;
    color:white;
    line-height:3px;
    font-family: 'Josefin Sans', sans-serif;

}

.time,
.greeting {
    font-family: 'Arimo', sans-serif;
}

.time {
    font-size: 181px;
    margin-bottom: -2%;
    font-weight: 500;
}

.greeting {
    font-size: 38px;
}

@media screen and (min-width: 750px) {
    .content {
        margin-top: 25%;
    }
}
