
html {
    background-color:black;
}

.paintingImage {}

.paintingImage img {
    width:100%;
    height: 685px;
}

.paintingDetails {
    width:25%;
    margin-left:38%;
    text-align: center;
    color:white;
    line-height:3px;
    font-family: 'Josefin Sans', sans-serif;

}

.time,
.greeting {
    font-family: 'Arimo', sans-serif;
}

.time {
    font-size: 181px;
    margin-bottom: -2%;
    font-weight: 500;
}

.greeting {
    font-size: 38px;
}

@media screen and (min-width: 750px) {
    .content {
        margin-top: 25%;
    }
}
